---
import Head from '@/components/head/Head.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import { formatDate } from '@/utils/date';
import { getStories } from '@/utils/stories';
import '@/styles/global.css';
import './index.css';

const stories = getStories('desc');
---

<html lang="en">
  <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <main>
      <h1 class="page-title">Stories</h1>
      <ul class="story-list">
        {
          stories.map((story) => (
            <li class="story-list-item">
              <a class="story-list-link" href={story.href}>
                <span>{story.title}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-arrow-right-icon lucide-arrow-right" aria-hidden="true">
                  <path d="M5 12h14" />
                  <path d="m12 5 7 7-7 7" />
                </svg>
              </a>
              <div class="story-list-details">
                <time class="story-list-date" datetime={story.publishDate}>
                  {formatDate(story.publishDate)}
                </time>
                <span class="story-list-sep" aria-hidden="true">·</span>
                <span class="story-list-stats">
                  {story.wordCount.toLocaleString()} words
                </span>
                <span class="story-list-sep" aria-hidden="true">·</span>
                <span class="story-list-stats">{story.readingTime}</span>
              </div>
              {story.tagLine && <p class="story-list-tags">{story.tagLine}</p>}
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
