---
import Head from '../components/Head.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { formatDate } from '../utils/date';
import { getStories } from '../utils/stories';
import '../styles/global.css';

const stories = getStories('desc');
---

<html lang="en">
  <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <main>
      <h1 class="page-title">Stories</h1>
      <ul class="story-list">
        {
          stories.map((story) => (
            <li class="story-list-item">
              <a class="story-list-link" href={story.href}>
                {story.title}
              </a>
              <div class="story-list-details">
                <time
                  class="story-list-date"
                  datetime={story.publishDate}
                >
                  {formatDate(story.publishDate)}
                </time>
                <span class="story-list-stats">
                  {story.wordCount.toLocaleString()} words
                </span>
                <span class="story-list-stats">
                  {story.readingTime}
                </span>
                {story.downloadUrl && (
                  <a class="story-list-download" href={story.downloadUrl}>
                    Download
                  </a>
                )}
              </div>
              {story.tagLine && (
                <p class="story-list-tags">{story.tagLine}</p>
              )}
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
